body {
    background-image: url("/assets/images/newspaper.jpeg");
    padding-top: 70px;
}

.deleteComments {
	display: inline-block;
}

.previousCommentss {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.jumbotron {
    color:rgb(65, 63, 63);
    background-color:rgb(223, 45, 45);
}